.numbers-table {

}

.numbers-table__table-head-cell {
    text-align: center;
}

.numbers-table__number-row {

}

.numbers-table__input {
    text-align: right;
}

.numbers-table__summary-number {
    text-align: right;
    padding-right: 6px !important;
}

.numbers-table__button_cell {
    min-width: 40px;
}

.numbers-table input[type="text"] {
    width: 100%;
}

.numbers-table__bin-cell {
    width: 355px;
}
