<table class="table table-condensed table-hover numbers-table">
    <thead>
        <tr class="active">
            <th>#</th>
            <th>Decimal</th>
            <th>Binary</th>
            <th>Hex</th>
            <th></th>
        </tr>
        <tr class="info" ng-init="sum = getNumbersSum()">
            <td>SUM</td>
            <td>{{sum}}</td>
            <td class="binary-field">{{sum | binary}}</td>
            <td>{{sum | hex}}</td>
            <th></th>
        </tr>
        <tr class="info">
            <td>&(AND)</td>
            <td>{{getNumbersAnd()}}</td>
            <td class="binary-field">{{getNumbersAnd() | binary}}</td>
            <td>{{getNumbersAnd() | hex}}</td>
            <th></th>
        </tr>
        <tr class="info">
            <td>|(OR)</td>
            <td>{{getNumbersOr()}}</td>
            <td class="binary-field">{{getNumbersOr() | binary}}</td>
            <td>{{getNumbersOr() | hex}}</td>
            <th></th>
        </tr>
        <tr class="info">
            <td>^(XOR)</td>
            <td>{{getNumbersXor()}}</td>
            <td class="binary-field">{{getNumbersXor() | binary}}</td>
            <td>{{getNumbersXor() | hex}}</td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr></tr>
        <tr ng-repeat="number in numbers" multi-number="number">
            <td>
                {{$index + 1}}
            </td>
            <td>
                <input type="text" ng-model="number.dec" is-number />
            </td>
            <td class="binary-cell">
                <input type="text" ng-model="number.bin" operations-popover="number.bin" class="binary-field" />
            </td>
            <td>
                <input type="text" ng-model="number.hex" />
            </td>
            <td>
                <button type="button" ng-show="$index != 0" class="btn btn-danger btn-sm" ng-click="remove(number)">x</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <button type="button" class="btn btn-primary" ng-click="addNumber()">Add</button>
            </td>
        </tr>
    </tfoot>
</table>
