.numbers-table {

}

.numbers-table__number-row {

}

.numbers-table__input {
    text-align: right;
}

.numbers-table__summary-number {
    text-align: right;
    padding-right: 6px !important;
}

.numbers-table__button_cell {
    min-width: 40px;
}

.binary-field {
    /*text-align: right;*/
}

td.binary-field {
    padding-right: 7px !important;
}

.numbers-table input[type="text"] {
    width: 100%;
}

.content {
    width: 950px;
    margin: 0 auto;
    margin-top: 50px;
}

.binary-operations a {
    margin-right: 10px;
}

.binary-operations a:last-child {
    margin-right: 0;
}

.binary-cell {
    width: 355px;
}
